@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    3700 Willingdon Avey<br />
    Burnaby, BC V5G 3H2<br />
    <abbr title="Phone">P:</abbr>
    (604) 434-5734
</address>

<address>
    <strong>Bryan Brotonel:</strong> <a href="bbrotonel@my.bcit.ca">Email</a><br />
    <strong>Kerry Regan:</strong> <a href="Kregan89@gmail.com">Email</a>
</address>
